*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #F5F2EC;
    display: flex;
    justify-content: space-between;

    div{
        padding: 1em;
    }
}

.navbar-center{
    ul{
        display: flex;
    }
    
    li{
    list-style-type:none;
    padding: 0.8em;
     a{
        text-decoration: none;
     }
    }
}


.cta-button{
   
    a{
        text-decoration: none;
         padding: 1em;
    }
}